CHART_NAME=mercer-app
CHART_VERSION=0.0.18
APP_NAMESPACE=mmc-mktplace-uat-marshmarketplace
WEBAPP_RELEASENAME=webapp
DATA_IMP_RELEASENAME=data-importer
ARTICLE_IMP_RELEASENAME=article-importer
WEBAPP_VALUES_FILE=./deployments/helm/webapp-uat-values.yml
DATA_IMP_VALUES_FILE=./deployments/helm/data-importer-uat-values.yml
ARTICLE_IMP_VALUES_FILE=./deployments/helm/article-importer-uat-values.yml
DEPLOY_HOSTNAME=mmp-uat.ext.np.dal.oss2.mrshmc.com
KUBERNETES_URL=https://mgti-dallas-rancher.mrshmc.com/k8s/clusters/c-bw5j6